* {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}

body {
	color: black;
}



.navbar {
	border-color: black;
	background-color: gray;
}

.navbar-brand {
	font-size: 1.8em;

}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}
.navbar-default .navbar-brand {
    color: #000;
}

.navbar-default .navbar-nav > li > a {
    color: #000;
    background-color: #fff;
    text-align: center;
    border-top: 1px solid black;
    margin-bottom: 0;

}

.container-fluid div {

}

li {

	border: 1px;
}

.chicken {
	background-color: gray;
	width: 90%;
	margin: 0 auto;
	padding: 0 20px;

}

h1 {
	font-size: 1.6em;
}

h2 {
	font-size: 1.4em;
	padding: 10px;
}